<div class="diff-container">
    <div class="old-text">
      <pre><ng-container *ngFor="let change of diffResult"><span [class]="getLineClass(change)"><ng-container *ngFor="let line of splitLines(change.value)">{{line}}<br></ng-container></span></ng-container></pre>
    </div>
    <div class="new-text">
      <pre><ng-container *ngFor="let change of diffResult"><span [class]="getLineClass(change)"><ng-container *ngFor="let line of splitLines(change.value)">{{line}}<br></ng-container></span></ng-container></pre>
    </div>
  </div>